*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-orange: hsl(31, 77%, 52%);
    --color-light-cyan: hsl(184, 100%, 22%);
    --color-dark-cyan: hsl(179, 100%, 13%);
    --color-white: hsla(0, 0%, 100%, 0.75);
    --color-lightgray: hsl(0, 0%, 95%);
}

body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    position: relative;
    background-color: var(--color-lightgray);
}

.container {
    max-width: 52rem;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1rem;
    margin: 1.5rem;
}

.bg-orange {
    background-color: var(--color-orange);
}

.bg-light-cyan {
    background-color: var(--color-light-cyan);
}

.bg-dark-cyan {
    background-color: var(--color-dark-cyan);
}

.orange {
    color: var(--color-orange);
}

.light-cyan {
    color: var(--color-light-cyan);
}

.dark-cyan {
    color: var(--color-dark-cyan);
}

.card {
    font-family: 'Lexend Deca', sans-serif;
    display: grid;
    gap: 2.5rem;
    color: var(--color-white);
    padding: 2.5rem;
    font-size: 1rem;
    line-height: 1.3rem;
}

.card h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2.75rem;
    text-transform: uppercase;
    color: var(--color-lightgray);
}

.card p {
    letter-spacing: 0.05rem;
}


a {
    font-family: 'Lexend Deca', sans-serif;
    width: 60%;
    max-width: 15rem;
    line-height: 3rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--color-lightgray);
    border-radius: 50px;
    margin-bottom: 0.75rem;
    text-align: center;
}

.orange-hover:hover {
    color: var(--color-lightgray);
    background-color: var(--color-orange);
    border: 1px solid var(--color-white);
}

.light-cyan:hover {
    color: var(--color-lightgray);
    background-color: var(--color-light-cyan);
    border: 1px solid var(--color-white);
}

.dark-cyan-hover:hover {
    color: var(--color-lightgray);
    background-color: var(--color-dark-cyan);
    border: 1px solid var(--color-white);
}

img {
    max-width: 25%;
}

.top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (min-width: 840px) { 
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }  

  img {
    max-width: 30%;
  }

  .top {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
  }

  .bottom {
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
  }
}